<% if flash[:alert] %>
	<% flash[:alert].each do |error|%>
		<%=content_tag(:div,content_tag(:label,error),class:"signup_problem")%><br/>
	<% end %>
<% end %>
<div class = "form">
<%= simple_form_for @new_user do |p|%>

<%= p.input :username,placeholder: "2-10 characters",:label => "Username"%><br />
<%= p.input :email, placeholder: 'user@domain.com'%><br />
<%= p.input :password, placeholder: '6-20 characters',:label => "Password"%><br />
<%= p.input :password_confirmation, placeholder: "Confirm password", :label => "Password confirmation"%><br />
<%= p.button :submit %>
<%end%>

</div>