<div class="navbar">
	
	<%=link_to "Home", root_path %>
	<%=link_to "About us",pages_about_us_path %>
	<!--<%=link_to "Contact",pages_contact_path %> !-->
	<%=link_to "See posts",posts_path %>
	<%=link_to "Add contact",new_contact_path %>

	<% if session[:user_id] %>
		<%=link_to "Logout", logout_path %>
	<% else %>
		<%=link_to "Login", new_login_path %>
		<%=link_to "Signup", signup_path%>
	<% end %>
	
	
</div>